/PrintStar.class
/InvertedStar.class
/HalfPyramid.class
/CharacterPattern.class
/HallowRectangle.class
/InvertedHalfPyramid.class
/InvertedHalfNumberPyramid.class
/FloydsTriangle.class
/Triangle0_1.class
/Butterfly.class
/SolidRhombus.class
/HallowRhombus.class
/Diamond.class
